localhost:80 {
	root * /usr/share/caddy
	file_server
}

redisinsight.localhost:80 {
	reverse_proxy redisinsight:5540
}

rabbitmq.localhost:80 {
	reverse_proxy rabbitmq:15672
}

seaweedfs-master-ui.localhost:80 {
	reverse_proxy seaweedfs:9333
}

seaweedfs-filer-ui.localhost:80 {
	reverse_proxy seaweedfs:8888
}

pgadmin.localhost:80 {
	reverse_proxy pgadmin:80
}

api.localhost:80 {
	reverse_proxy {
		dynamic a {
			name api
			port 8080
			refresh 5s
		}
		# Use round-robin among the resolved api service IPs
		lb_policy round_robin
		transport http {
			keepalive 0
		}
	}
}

soprano-inference.localhost:80 {
	reverse_proxy {
		dynamic a {
			name soprano
			port 8081
			refresh 5s
		}
		lb_policy round_robin
		transport http {
			keepalive 0
		}
	}
}
